/*_Color Variables_*/
$warning: #ff0000;
$success: #2b842b;
$white:#ffffff;
$black: #000000;
$base-color: #5b5b5b;
$primary-color: #12d6b0;
// $secondary-color:#425b77;

// Color Variables for funds
$large-cap: #14a388;
$mid-cap: #13bc9c;
$long-term: #425b77;


/*_Font Variables_*/
$light-family: 'montserrat-light';
$bold-family: 'montserrat-bold';
$regular-family: 'montserrat-regular';